
.c-delivery{
    text-align: left;
    margin-bottom: 17px;
    background: #fcfcfc;
    color: #6c8000;
    padding: 14px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),  0 0 40px rgba(0, 0, 0, .1) inset;
}

.top-frame strong {
    margin: 1em 0;
    display: inline-block;
    background: #ffdd3e;
    padding: 15px 15px 20px 15px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 7px 55px -21px #676767;
    font-size: 24px;
    font-weight: 700;
}
.top-frame .hContacts
{
    width: 100%;
}

.top-frame .hContacts .hcPhone{
    width: 50%;
    display: inline-block;
}
.top-frame .hContacts span{
    font-weight: normal;
    padding: 0.2em 0;
}
.yMap{
    width: 98%;
    border: 2px solid darkgreen;
    display: inline-flex;
}

#ymaps1588351850130697389{
    max-width: 882px;
    width: 90%;
}