.search-frame{
    display: inline-block;
    margin: 0 1% 1em 1%;
    width: 98%;
}
.site-search{
    width: 100%;
    padding: 0 0;
}

.s-input{
    font-family: "UbuntuRegular";
    text-align: right;
    border: 1px solid gray;
    width: 100%;
}
.site-search .s-input input[type='text']{
    display: inline-block;
    width: 79%;
    font-size: 1em;
    height: 2.2em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: none;

}
.site-search .s-input input[type='text']:focus{
    border: none;
    outline: none;
}
.site-search .s-input .s-button
{
    width: 20%;
    background: #009606;
    color: white;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    height: 2.2em;
}

.site-search .s-input .s-button span
{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    margin-top: 0.1em;
}
.s-result{
    display: none;
}
.s-result.active{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.5em;
    display: inline-block;
    margin-top: 1em;
}

.s-result.active span.err{
    color: red;
    margin: 1em;
    font-weight: bold;
    display: inline-block;
}

.s-result .find-line{
    text-align: center;
    display: inline-block;
    border-bottom: 1px dotted gray;
    width: 100%;
    margin: 0.2em 0;
}
.s-result .find-line img{
    height: 3em;
    width: 3em;
}

.s-result .find-line .fl-img {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
.s-result .find-line .fl-text {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}