h1{
    text-align: center;
    background: #ffdd3e;
    width: 98%;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1%;
    margin: 0 0 1em 0;
    font-size: 1.5em;
}

.cv-descr{
    text-align: left;
}

.cv-longDescr{
    text-align: left;
}

.top-frame h2{
    background: #ffdd3e;
    width: 98%;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em 1%;
    font-size: 1.5em;
}