/*body-->*/
BODY {
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    text-align: center;
    font-size: 16px;
    background-image:
    url(/source/img/background-top.png),
    url(/source/img/background-bottom.png);
    background-position:
            left top, left bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
/*body--<*/
.page-wrap{
    position: relative;
    min-height: 93.5vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),  0 0 40px rgba(0, 0, 0, .1) inset;
    margin: 1vh 0;
    max-width: 1200px;
display: inline-block;

}
/*footer-->*/
.contentBlock-frame.dark.ft{
    /*
    position: absolute;
    left: 0;
    bottom: 0;

     */
}
.pv-descr{
    text-align: left;
    margin-bottom: 17px;
    background: #fcfcfc;
    color: #6c8000;
    padding: 14px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),  0 0 40px rgba(0, 0, 0, .1) inset;
}
h1{
    color: #444;
    font-weight: 100;
    text-align: center;
    width: 100%;
    position: relative;
    background: transparent;
    margin: 0;
}
h1 span{
    background: radial-gradient(ellipse ,
    rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.2), rgba(255,255,255,0.5));
    position: relative;
    z-index: 1;
    padding: 0.2em 1em;
}
h1 hr{
    border: none;
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: orange;
}
footer{
    background-color: lightblue;
    color: #ffffff;
    padding: 0 0 1em 0;
}
footer div, footer a, footer img{
    display: inline-block;
    vertical-align: middle;
}
.ft-service{
    width: 30%;
}
.ft-center{
    width: 100%;
    display: inline-block;
}
.ft-center h2{
    padding: 0;
    margin: 0;
}
.ft-right{
    display: inline-block;
    vertical-align: top;
    width: 67%;
    margin: 1em 0;
}
.ft-nav, .ft-cont{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.ft-main {
    text-align: center;
    display: inline-block;
    width: 27%;
    padding: 0 3%;
    margin: 1em 0;
    vertical-align: middle;

}
.ft-nav{

}
.ft-nav div{
    width: 80%;
}
.ft-nav a{
    text-align: left;
    display: inline-block;
    width: 100%;
    color: navy;
    padding: 0.2em 0;
    text-decoration: none;
}
.ft-nav a:hover{
    background: darkgreen;
    color: white;
    border-radius: 0.5em;
    padding-left: 5%;
}
.ft-nav a:before{
    content: " > ";
    color: orange;

}
.ft-cont{
    text-align: left;
}
.ft-cont .hContacts{
    font-size: 0.9em;
    display: inline-block;
    width: 100%;
}
.ft-cont span{
    width: 100%;
    /*display: ;*/
}
.ft-addr{

}

footer h2{
    display: inline-block;
    width: 100%;
    color: #337ab7;
    font-weight: normal;
    text-align: center;
}


/*
.ft-center hr{
    border: none;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}
.ft-center span{
    background: radial-gradient(ellipse ,
    rgba(25,25,50,1), rgba(25,25,50,1), rgba(25,25,50,1), rgba(25,25,50,0.2), rgba(25,25,50,0.5));
    position: relative;
    z-index: 1;
    padding: 0.2em 0;
}
*/
.ft-like{
    width: 30%;
}
.ft-like a{
    margin: 0 0.5em 0.1em 0.5em;
}
.ft-like a img{
    height: 1.8em;
    width: 1.8em;
}
footer sup{
    color: white;
    font-size: 0.5em;
    text-decoration: none;
    color: white;
}

/*footer<--*/
/*contentBlock-->*/
.contentBlock-frame{
    width: 100%;
    display: inline-block;

}
.contentBlock-center{

    display: inline-block;
    max-width: 1200px;
    width: 100%;
    background-color: white;
}

/*contentBlock--<*/
.pageErr{
    padding: 1em 0;
    color:red;
    height: 1em;
}
.lrp-wrap{
    width: 96%;
    margin: 0 0 2% 2%;
}
.ta-left{
    text-align: left;
}
.ta-right{
    text-align: right;
}
.line{
    display: inline-block;
    width: 100%;
}
.line div{
    display: inline-block;
}
span.minPrice{
    display: inline-block;
    width: 100%;
    color: red;
    font-weight: bold;
}
span.minPrice:after{
    content: " p.";
    font-weight: normal;
    color: black;
}
span.minPrice:before{
    content: "Цена от: ";
    color: black;
    font-weight: normal;

}

p.lgColor{
    background: #e3f7bf;
    font-weight: bold;
    padding: 1em;
}

.pgn{
    display: inline-block;
    width: 100%;
}
.pgn a {
    color: darkgreen;

}
.pgn a.active{
    font-size: 1.2em;
    font-weight: bold;
}
.pgn .pgn-num{
    text-align: left;
    display: inline-block;
    width: 70%;
}
.pgn .pgn-on{
    text-align: right;
    display: inline-block;
    width: 30%;
}
@media only screen and (max-width : 980px) and (orientation : portrait){
    .ft-nav a{
        font-size: 1.2em;
    }
    .ft-cont .hContacts{
        font-weight: normal;
    }

}
@media only screen and (max-width : 1200px){
    .page-wrap{
        box-shadow: none;
        margin: 0;
    }
}