.hv-wp{
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.alb-frame-wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
}
.alb-block{
    display: inline-block;
    width: 100%;
}
.alb-block img{
    height: 35em;
    border: 2px solid darkgreen;
    border-radius: 1em;
}
.photo-name{
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 2em;
    color: darkgreen;

}
@media only screen and (max-width : 980px) and (orientation : portrait) {
    .alb-block img {
        height: 20em;
        border: 2px solid darkgreen;
        border-radius: 1em;
    }
}