header{
    /*background: rgba(25,25,50,1);*/
    width: 100%;

}

.headerCenter{
    padding: 0 0 1em 0;
    background-color: white;
}

.hLogo{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
.hlImg{
    display: inline-block;
    width: 30%;
}
.hlImg img{
    height: 5em;
    width: 5em;
    vertical-align: middle;
}
.hlText{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
}
.hlText span.sad{
    display: inline-block;
    color: #00ff00;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px darkgreen, -1px -1px 2px darkgreen;
}
.hlText span.primorya{
    color: darkgreen;
    font-size: 1.5em;
}

.hDescr{
    display: inline-block;
    width: 28%;
    padding: 0 1%;
    vertical-align: middle;
    color: #009606;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}
.hContacts{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    text-align: left;
    color: #356300;
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.hContacts span.hcMail{
    display: block;
}
.hContacts span.hcPhone{
    display: block;
}
.hContacts span.hcMail::before{
    content: " ";
    display: inline-block;
    background: url("/site/siteHeader/img/mail.png");
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    vertical-align: middle;
    margin-right: 0.5em;
}
.hContacts span.hcPhone::before{
    content: " ";
    display: inline-block;
    background: url("/site/siteHeader/img/phone.png");
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    vertical-align: middle;
    margin-right: 0.5em;
}
.hContacts span.hcAddr, .hContacts span.hcSchedule{
    display: block;
}
.hContacts span.hcAddr::before{
    content: " ";
    display: inline-block;
    background: url("/site/siteHeader/img/addr-icon.png");
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    vertical-align: middle;
    margin-right: 0.5em;
}
.hContacts span.hcSchedule::before{
    content: " ";
    display: inline-block;
    background: url("/site/siteHeader/img/Clock-icon-1.png");
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    vertical-align: middle;
    margin-right: 0.5em;
}
.hBucket{
    position: relative;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.hbImg{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.hbImg img{
    height: 4em;
    width: 4em;
}
.hbVolume{
    vertical-align: middle;
    display: inline-block;
    width: 70%;

}
.hbVolume span.hbvCount, .hbVolume span.hbvAmount{
    font-weight: bold;
    margin: 0.2em 0;
    display: inline-block;
    background-color: orange;
    width: 100%;
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em;
}

.hbVolume span.hbvCount.active, .hbVolume span.hbvAmount.active{
    cursor: pointer;
}





span.hbvCount:before{
    content: "Товаров: ";
    font-weight: normal;
}
span.hbvCount:after{
    content: " шт.";
    font-weight: normal;
}
span.hbvAmount:before{
    content: "На сумму: ";
    font-weight: normal;
}
span.hbvAmount:after{
    content: " р.";
    font-weight: normal;
}
.refPanel{
    width: 100%;
    background-color: lightblue;
    text-align: left;
}
.refPanel a{
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    color: darkgreen;
    border-right: 2px solid white;
}


header .headerCenter{
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    background-color: white;
}
/*header-->
header .menuBtn{
    width: 20%;
    max-width: 273px;
    display: inline-block;
    vertical-align: middle;
}
header .menuBtn img{
    height: 2em;
    width: 2em;
    cursor: pointer;
    vertical-align: middle;
}
header .menuBtn span{
    color: #ffffff;
    font-family: Calibri;
    font-size: 0.7em;
    vertical-align: middle;
    cursor: pointer;
}
header .logo{
    width: 60%;
    max-width: 820px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
header .logo .imgBlock{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
header .logo .imgBlock img{
    height: 4em;
    width: 4em;
    vertical-align: middle;
}
header .logo .textBlock{
    width: 75%;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}
header .logo span.firmName{
    color: white;
    font-size: 1.3em;
    display: inline-block;
    width: 90%;
    font-weight: bold;
    margin-left: 2em;
    border-bottom: 1px solid #ffffff;
    font-family: Calibri;
}
header .orderBtn{
    display: inline-block;
    width: 20%;
    max-width: 273px;
    vertical-align: middle;
}
header .orderBtn span{
    color: #ffffff;
    font-family: Calibri;
    font-size: 0.7em;
    vertical-align: middle;
    cursor: pointer;
}
header .orderBtn img{
    height: 2em;
    width: 2em;
    cursor: pointer;
    vertical-align: middle;
}
header .rightConn{
    width: 50%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}
<--header*/
/*modal-->*/
.modal{
    visibility: hidden;
}
.overlay {
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
}
.modal .contentBlock-frame{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.modal .contentBlock-center{
    z-index: 3;
}
.modal-line{
    width: 100%;
    display: block;
    text-align: left;
    border-bottom: 1px dotted silver;
}
.modal-line-img{
    display: inline-block;
    width: 25%;
}
.modal-line-img img{
    height: 1.8em;
    width: 1.8em;
    margin: 0.5em;
    border-radius: 0.3em;
}
.modal-line-text{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.7em;
}
.modal-line-text.guest{
    margin-top: 0.2em;
}
/*modal order-->*/
.modal-line-text.free{
    margin-top: 0.2em;
    font-size: 0.8em;
}
.modal-line-text.lookFor{
    margin-top: 0.2em;
    color: wheat;
    font-size: 0.8em;
}
.modal-line-text.busy{
    margin-top: 0.2em;
    color: red;
    font-size: 0.8em;
}
.modal-line-text span.phone{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}
.modal-line-text.free span.phone{
    color: limegreen;
}
.modal-line-text.free span.phone{
    color: limegreen;
}
.modal-line-text.lookFor span{
    color: lightblue;
}
.modal.order .details a{
    display: inline-block;
    color: lightblue;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.modal-line-text img.payStat{
    height: 3em;
    width: 3em;
    position: absolute;
    right: 1em;
    top: 0em;
}
/*<--modal order*/
.modal-line-text.ref a, .modal-line-text.srv a, .modal-line-text.bucket a{
    color: white;
    text-decoration: none;
}
/*modal-left -->*/
.modal-left {
    width: 70%;
    display: inline-block;
    background-color: rgba(25,25,50,1);
    color: white;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}
/*modal-right -->*/
.modal-right {
    float: right;
    width: 30%;
    text-align: left;
    display: inline-block;
}
.modal-right img{
    height: 3em;
    width: 3em;
    cursor: pointer;
}
.modal-right .modal-close{
    height: 3em;
    width: 3em;
    background-image: url("/site/siteHeader/img/closeModal.png");
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
}
/*<-- modal-right*/
/*.modal.signIn-->*/
.modal.signIn .modal-left, .modal.signIn .modal-right{
    width: 90%;
    padding: 2% 5% 2% 5%;
}
.modal.signIn .modal-right{
    float: left;
    text-align: right;
    background-color: rgba(25,25,50,1);
    position: relative;
}
.modal.signIn .modal-right .modal-close{
    height: 2em;
    width: 2em;
    background-image: url("/site/siteHeader/img/closeModal-white.png");
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 1;
    background-color: rgba(25,25,50,1);
}
.modal.signIn .modal-left{
    float: right;
}
/*<--modal signIn*/
/*modal.menu-->*/
.modal-line:first-child{
    margin-top: 1em;
}
.modal.menu a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
.modal.menu a.exit{
    color: red;
    float: right;
    margin-right: 1em;
    text-decoration: underline;
}
.modal.menu a.ntf{
    float: right;
    margin-right: 1em;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    color: lightgreen;
}
.modal.menu a.ntf img{
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
}
.modal.menu a.ntf span{
    padding: 0.1em;
    vertical-align: top;
    font-size: 0.7em;
    font-weight: bold;
}
.modal.menu span.opnSubMenu{
    display: inline-block;
    float: right;
    margin-right: 1em;
    font-size: 1.2em;
    cursor: pointer;
}
.modal.menu ul li{
    margin-bottom: 0.5em;
}
.modal.menu ul a.sub-lnk{
    margin-left: 1em;
}
.modal.menu a.sub-lnk.light{
    color: white;
}
.modal.menu a.sub-lnk.gold{
    color: goldenrod;
}
.modal.menu a.sub-lnk.blue{
    color: aqua;
}
.modal.menu a.sub-lnk.active{
    text-decoration: underline;
}
.modal.menu a span.guest{
    display: inline-block;
    width: 100%;
    color: #c0c0c0;
    font-size: 0.8em;
}
/*<--modal.menu*/
/*modal-scroll-->*/
.modal-left::-webkit-scrollbar, .modal-right::-webkit-scrollbar {
    width: 2px;
}
/* Track */
.modal-left::-webkit-scrollbar-track, .modal-right::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
.modal-left::-webkit-scrollbar-thumb, .modal-right::-webkit-scrollbar-thumb {
    background: aquamarine;
    border-radius: 10px;
}
/* Handle on hover */
.modal-left::-webkit-scrollbar-thumb:hover, .modal-right::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
/*<--modal-scroll*/
/*media-->*/
@media only screen and (max-width : 960px) {
    header .logo .textBlock span.firmName {
        display: none;
    }
}
@media only screen and (max-width : 1024px){
    header .logo .imgBlock{
        width: 20%;
    }
    header .logo .textBlock{
        width: 80%;
    }
}
@media only screen and (max-width : 1024px) and (orientation : portrait){
    .modal-left:not(.signIn), .modal-right:not(.signIn){
        width: 100%;
    }
    .modal-right:not(.modal.signIn){
        float: left;
        text-align: right;
        background-color: rgba(25,25,50,1);
        position: relative;
    }
    .modal-right:not(.signIn) .modal-close:not(.signIn){
        height: 2em;
        width: 2em;
        background-image: url("/site/siteHeader/img/closeModal-white.png");
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }
    .modal-left:not(.signIn){
        float: right;
    }
    header .logo .textBlock {
        display: none;
        visibility: hidden;
    }
    header .logo .imgBlock {
        width: 100%;
    }
}

.hb-view-frame {
    display: none;
    z-index: 1;
    position: absolute;
    width: 250%;
    left: -250%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1em 0 1em 1em;
    background: white;
    border: 1px solid lightblue;
}
.hb-view{
width: 100%;

}

.hb-view-frame.active{
    display: block;
}

.hb-view-frame .hbv-title{
    font-size: 1.2em;
    display: inline-block;
    width: 100%;
}
.hb-view-frame .hbv-title .hbvt-text{
    display: inline-block;
    width: 90%;
    font-weight: bold;
    text-align: left;
}
.hb-view-frame .hbv-title .hbvt-text img{
    vertical-align: middle;
    height:1.5em;
    width: 1.5em;
}
.hb-view-frame .hbv-title .bm-close{
    display: inline-block;
    width: 10%;
}
.hb-view-frame .hbv-title .bm-close img{
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    float: right;
    cursor: pointer;
}
.hbv-title span.hbvCount, .hbv-title span.hbvAmount
{
    margin-left: 0.5em;
    text-transform: lowercase;
    color: red;
}

.hbv-title span.hbvCount:after, .hbv-title span.hbvCount:before, .hbv-title span.hbvAmount:after,  .hbv-title span.hbvAmount:before
{
    text-transform: lowercase;
    color: black;
}

.hb-view .hb-line{
    padding: 0.5em 0;
    text-align: left;
    width: 100%;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.hb-view .hb-line .hbl-img{
    text-align: center;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.hb-view .hb-line .hbl-img img{
    vertical-align: middle;
    height: 3em;
    width: 3em;
}
.hb-view .hb-line .hbl-name{
    vertical-align: middle;
    display: inline-block;
    width: 20%;
}

.hb-view .hb-line .hbl-action{
    vertical-align: middle;
    display: inline-block;
    width: 60%;
}
.hb-view .hb-line .hbla-line{
    width: 100%;
    display: inline-block;
}


.hb-view .hb-line .hbl-action .hblal-age{
    font-weight: bold;
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
.hb-view .hb-line .hbl-action .hblal-input{
    font-size: 0.8em;
    margin: 0.5em 0;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}
.hb-view .hb-line .hbl-action .hblal-input button.hblali-add{
    content: " ";
    display: inline-block;
    background: url("/source/img/add-btn.png");
    height: 2em;
    width: 2em;
    background-size: cover;
    vertical-align: middle;
    border-style: none;
    cursor: pointer;
}
.hb-view .hb-line .hbl-action .hblal-input button.hblali-remove{
    content: " ";
    display: inline-block;
    background: url("/source/img/del-btn.png");
    background-size: 100% 100%;
    height: 2em;
    width: 2em;
    vertical-align: middle;
    border-style: none;
    cursor: pointer;
}

.hb-view .hb-line .hbl-action .hblal-input input[type=number]{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 3em;
    font-weight: bold;
    font-size: 1.2em;
    border-style: none;
}
.hb-view .hb-line .hbl-action .hblal-input button.hblali-clear{
    content: " ";
    display: inline-block;
    background: url("/source/img/drop-icon.png");
    height: 2em;
    width: 2em;
    background-size: cover;
    vertical-align: middle;
    border-style: none;
    float: right;
    margin-right: 0.5em;
    cursor: pointer;
}
.hb-view .hb-line .hbl-action .hbla-line span {
    font-weight: bold;
    color: firebrick;
}
.hb-view .hb-line .hbl-action .hbla-line span:after {
    color: black;
    content: ' .р';
}
.hbvf-buttons{
    display: inline-block;
    width: 100%;
}
.hbvf-clear{
    text-align: left;
    display: inline-block;
    width: 50%;
    font-size: 1.5em;
}
.hbvf-order{

    text-align: right;
    display: inline-block;
    width: 50%;
    font-size: 1.5em;
}
.hbvf-order img, .hbvf-clear img{
    height: 2em;
    width: 2em;
    vertical-align: middle;
}

.hbvf-order a {
    display: inline-block;
    vertical-align: bottom;
    color: red;
    padding: 0.2em;
    font-weight: bold;
}
.hbvf-clear span {
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
    cursor: pointer;
    padding: 0.2em;
    color: blue;

}

.hbvf-order a:hover {
    background: lightgreen;
    color: white;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
.hbvf-clear span:hover {
    background: red;
    color: white;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}